{% extends 'inscripcion/base.dj.html' %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'inscripcion:application' %}">Proyecto {{object.curso}}|{{object}}</a>
</li>
{% endblock breadcrumbs %}


{% block content_inscripcion %}
<!-- Project Info Here -->
<div class="tile is-child box">
    {% include 'proyecto/proyecto/basic_info.dj.html' %}
</div>
<!-- Users table here -->
<div class="tile is-child box">
    {% include 'inscripcion/users_table.dj.html' with object_list=object.inscripciones.all %}
</div>
<div class="tile is-child box">
    <div class="tile"><h3 class="title is-3">Sumario Inscripciones</h3></div>
    <!-- SUMARIO: ON_REVIEW, ACCEPTED, REJECTED -->
    {% include 'inscripcion/sumario.dj.html' %}
</div>
<div class="tile is-child box">
    <h1 class="button is-large is-rounded is-fullwidth is-info">Comunicar
        Resultados</h1>
    <!-- send post and tasks to send emails from json selected with edition -->
</div>
{% endblock %}
