{% extends 'inscripcion/base.dj.html' %}

{% block content_inscripcion %}
    <div class="tile is-child">
        <h3 class="title is-3">
            Administrar Inscripciones
        </h3>
    </div>
    <div class="tile is-parent">
    <div class="tile is-child is-6">
        <a href="{% url 'inscripcion:list_projects_all' %}">Por proyecto</a>
    </div>
    <div class="tile is-child is-6">
        <a href="{% url 'inscripcion:list_inscribed_all' %}">Por Inscripción</a>
    </div>
    </div>
{% endblock %}
