{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

{% block title %}
Inscripciones | {{SITE_NAME}}
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'inscripcion:application' %}">Inscripción</a>
</li>
{% endblock breadcrumbs %}


{% block sidebar_left %}
<div class="tile is-child is-vertical">
    <aside class="sticky">
        {% include 'inscripcion/main_menu.dj.html' %}
    </aside>
</div>
{% endblock sidebar_left %}

{% block content_article %}
<div class="tile is-parent is-vertical box">
    {% block content_inscripcion %}
    {% endblock %}
</div>
{% endblock %}


