{% load static %}
{% load thumbnail %}
<article class="media">
    <figure class="media-left">
        <p class="image">
            {% thumbnail inscripcion.usuario.profile.profile_image.image "160x160" as im %}
            <img class="is-rounded"
                 src="{{ im.url }}"
                 width="{{im.width}}"
                 height="auto"
                 style="margin:{{ im|margin:"200x200" }}">

            {% endthumbnail %}
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <h4 class="title is-4 has-text-centered">{{inscripcion.usuario.profile}}</h4>
         <div class="columns">
                <div class="column">
        <ul>
            <li>Username: {{inscripcion.usuario.username}}</li>
            <li>Email: {{inscripcion.usuario.profile.email}}</li>
            <li>Teléfono: {{inscripcion.usuario.profile.phonenumber}}</li>
        </ul>
                </div>
                <div class="column">
                    {{inscripcion.usuario.profile.bio}}
                </div>
         </div>
         {% if inscripcion.representa_organizacion %}
         <ul>
             <li>Organización: {{inscripcion.organizacion|safe}}</li>
             <li>Web: <a href="{{inscripcion.web_organizacion}}">Ver</a></li>
             <li>Carta: <a href="{{inscripcion.carta_patrocinio.url}}">Descargar</a></li>
         </ul>
         {% endif %}
    </div>
</article>
