{% load static %}
{% load thumbnail %}
{% if object.representa_organizacion %}
<article class="media">
    <figure class="media-left">
        <!--  Carta Patrocinio -->
        <a href="{{object.carta_patrocinio}}">Revisar Carta</a>
    </figure>
    <div class="media-content">
        <div class="content">
            <h4 class="title is-4 has-text-centered">
                Información de Organización</h4>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>Username: {{inscripcion.organizacion}}</li>
                        <li><a href="{{inscripcion.web_organizacion}}">Web</a></li>
                    </ul>
                </div>
                <div class="column">
                    {{inscripcion.usuario.profile.bio}}
                </div>
            </div>
        </div>
</article>
{% endif %}
<article>
    <h4 class="title is-4">Motivación para participar</h4>
    {{inscripcion.motivacion|safe}}
</article>
