{% load inlinecss %}
{% inlinecss "inscripcion/css/email.css" %}
<html>
    <body>
        <article>
            <h1>Inscripción a Curso de Programación para Organizaciones Comunitarias</h1>
            <h2>{{nombre}}</h2>

            <h3>¡Muchas gracias {{nombre_completo}}!</h3>

            <section>

            <p>Te has inscrito para participar de nuestro curso
                de desarrolo de tecnologías dedicado exclusivamente para
                organizaciones comunitarias, es decir todas aquellas que se
                preocupan del bienestar de su comunidad</p>

            <p>Consideramos como base el compartir nuestros conocimientos y
                colaborar en la construcción de lo común</p>

            <p>Las clases parten en {{fecha_inicio}} y serán lunes y jueves
                desde las 19:00hr a 21:00hr puntuales.</p>

            <p>El canal de comunicaciones será mediante el <b>chat de
                Telegram</b> llamado <b>Curso Programación OSC</b>,
                deberás instalar la aplicación en tu computadora
                descargándola desde esta url https://desktop.telegram.org/.
                También es posible que la instales (si puedes) en el
                teléfono.</p>

            <p>También, te puedes comunicar con nosotros a través del correo
                electrónico cursodeprogramacion@disroot.org</p>

            <p>Contamos con tu participación, te esperamos</p>
            </section>
          </article>
        </body>
    </html>
{% endinlinecss %}
