{% load inlinecss %}
{% inlinecss "inscripcion/css/email.css" %}
<html>
    <body>
        <article>
            <h1>Inscripción a Curso de Programación para Organizaciones
                Comunitarias</h1>
            <ul>
                <li>{{data_persona.username}}</li>
                <li>{{data_persona.nombre_completo}}</li>
                <li>{{data_persona.email}}</li>
                <li>{{data_persona.phonenumber}}</li>
            </ul>
        </article>
    </body>
</html>
{% endinlinecss %}
