{% load widget_tweaks %}
{% load static %}

<h2 class="title is-3">{{user.profile.first_name}}, deja tus datos para inscribirte:</h2>
<form action="{{request.get_full_path}}" method="post"
      enctype="multipart/form-data"
      role="form" class="django form">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {% render_field hidden class+="input" value=hidden.initial %}
    {% endfor %}

    <div class="field field_inscripcion">
        <label class="checkbox"
               for="{{form.representa_organizacion.id_for_label}}">
        {% render_field form.representa_organizacion class+="checkbox" onclick="change_checkbox()" %}
            <span class="mdl-checkbox__label">{{form.representa_organizacion.label}}</span>
        </label>
    </div>
    <!-- Organización field -->
    <div class="field field_inscripcion con-organizacion">

        <label class="label"
               for="{{form.organizacion.id_for_label}}">{{form.organizacion.label}}</label>
        <div class="control">
            {% render_field form.organizacion class+="input" %}</div>
        <span class="help is-invalid">{{ form.organizacion.errors }}</span>
    </div>

    <!-- Web organización -->
    <div class="field field_inscripcion con-organizacion">

        <label class="label"
               for="{{form.web_organizacion.id_for_label}}">{{form.web_organizacion.label}}</label>
        <div class="control">
            {% render_field form.web_organizacion class+="input" %}
        </div>
        <span class="help is-invalid">{{ form.web_organizacion.errors }}</span>
    </div>
    <div class="field field_inscripcion-label con-organizacion">
        <label class="extra-label"> Sube un archivo pdf o imagen,
            firmado por tí y la organización que te apoya</label>
    </div>
    <div class="file has-name is-boxed is-fullwidth field_inscripcion
               con-organizacion" id="carta_apoyo_field">
        <label class="file-label has-text-centered">
                {% render_field form.carta_patrocinio class+="file-input" type="file" name="carta_patrocinio" %}
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                    {{form.carta_patrocinio.label}}
                </span>
            </span>
            <span class="file-name">
                apoyo_estudiante.pdf
            </span>
        </label>
    </div>
    <div class="field field_inscripcion">
        <label class="label" for="motivacion-text">
            {{form.motivacion.label}}</label>
        <div class="control">
            {% render_field form.motivacion class+="textarea" rows="12" id="motivacion-text" %}
        </div>
    </div>

    <!-- captcha -->
    {% include 'components/captcha.dj.html' with captcha=form.captcha %}

    
    <div class="control">
        <button id="sendButton" class="button is-link is-fullwidth"
                type="{% if inscripciones %}button{% else %}submit{% endif %}"
                {% if inscripciones %}disabled{% endif %}>
            {% if inscripciones %}Ya tienes tu inscripción{% else %}Enviar Inscripción{% endif %}
        </button>
    </div>

</form>
{{ form.media }}


