{% load static %}

<h3 class="title is-3">Inscripción a "{{proyecto.curso}}"</h3>
<div class="{{show_msg}}">
    {{msg}}
</div>
{% if inscripciones %}
    <h1 class="title is-1">{{msg}}</h1>
{% else %}
    {% if form.errors %}
    {% for field in form %}
    {% if field.errors%}
    <p>{{field.name}}:</p>
    {% endif %}
    {% for error in field.errors %}
    <div class="alert alert-danger {{show_msg}}">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert is-rounded alert-danger {{show_msg}}">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
{% endif %}
<!-- Título del [X] -->
<!-- Imagen del [X] -->
<!-- Descripcion [X] -->
<div class="tile is-child box has-text-centered">
<h3 class="title is-3">Valores de Inscripción</h3>
<section id="valores" class="content is-centered table-container">
    <table class="table is-hoverable is-stripped is-hoverable">
        <thead>
            <th>Participante</th>
            <th>Valor en CLP$</th>
            <th>Valor en USD$</th>            
        </thead>
        <tbody>
            {% for valor in proyecto.valor.all %}
            <tr>
                <td>{{valor.asignacion}}</td>
                <td>{{valor.precio}}</td>
                <td>{{valor.usd}}</td>
            </tr>
            {% endfor 0%}
        </tbody>
    </table>
</section>
</div>
<div class="tile box">
<div class="tile is-parent" id="fechas_importantes">
    <div class="tile is-child is-6 box">
        <h3 class="title is-3">Inscripción</h3>
        <input id="inscripcion_dates"
               type="date"
               data-display-mode="inline"
               data-is-range="true"
               data-close-on-select="false">
    </div>
    <div class="tile is-child is-6 box">
        <h3 class="title is-3">Curso</h3>
        <input id="clases_dates"
               type="date"
               data-display-mode="inline"
               data-is-range="true"
               data-close-on-select="false">
    </div>            
</div>
</div>
<section id="carta-apoyo-ejemplo">
    <p>Carta de apoyo editable (LibreOffice) :: <a title="Carta ODT"
    href="{% static 'docs/carta_apoyo.odt' %}">Formato carta de apoyo (odt)</a></p>
    <p>Carta de apoyo pdf :: <a title="Carta PDF"
                                href="{% static 'docs/carta_apoyo.pdf' %}">Formato carta de apoyo (pdf)</a></p>
</section>
{% block footer_javascript %}
<script>
 let opts_ins = {color:'info', type:"date", read_only:true}
 let inscripciones = {...opts_ins}
 let opts_curso = {color:'alert', type:"date", read_only:true}
 let curso = {...opts_curso}
 {% if proyecto.fecha_inscripcion_inicio %}
 const startDateInscripcion = "{{proyecto.fecha_inscripcion_inicio|date:'m/d/Y'}}";
 inscripciones["startDate"]=new Date(startDateInscripcion);
 {% endif %}
 {% if proyecto.fecha_inscripcion_final %}
 const endDateInscripcion = "{{proyecto.fecha_inscripcion_final|date:'m/d/Y'}}";
 inscripciones["endDate"]=new Date(endDateInscripcion);
 {% endif %}
 {% if proyecto.fecha_inicio %}
 const startDateCurso = "{{proyecto.fecha_inicio|date:'m/d/Y'}}";
 curso["startDate"]=new Date(startDateCurso);
 {% endif %}
 {% if proyecto.fecha_final %}
 const endDateCurso = "{{proyecto.fecha_final|date:'m/d/Y'}}";
 curso["endDate"]=new Date(endDateCurso);
 {% endif %}
 window.addEventListener("DOMContentLoaded", function(event) {
     activate_calendar("inscripcion_dates",
                       ["fecha_inscripcion_inicio",
                        "fecha_inscripcion_final"],
                       inscripciones)
     activate_calendar("clases_dates",["fecha_inicio","fecha_final"],
                       curso)

     /*activa modal de imagenes*/
     var figures=document.querySelectorAll("figure.thumb_imagen.main");
     figures.forEach(figure=>{
         figure.addEventListener("click", event => {
             let element_id=event.target.id;
             let modal_id=element_id+"_modal";
             let modal_el = document.getElementById(modal_id);
             if(modal_el){
                 modal_el.classList.add("is-active");
             }
         })
     });
 });
</script>
{% endblock %}
