<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'base.dj.html' %}
{% load static %}

<!-- Permitir el uso de estaticos css js -->
{% load static %}
{% load widget_tweaks %}

{% block title %}
Inscripción | {{proyecto.curso}}| {{site_name}}
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{{proyecto.curso.get_absolute_url}}">{{proyecto.curso}}</a>
</li>
<li>
    <a href="{{object.get_absolute_url}}">{{proyecto}}</a>
</li>
<li class="is-active">
    <a href="{{request.get_full_path}}" aria-current="page">Inscripción</a>
</li>
{% endblock breadcrumbs %}


{% block sidebar_left %}
    <div class="tile is-child box sticky">
        <figure id="afiche_generacion" onclick="active_modal('modal_afiche')">
            <img src="{{ MEDIA_URL }}{{proyecto.afiche}}"
                 alt="{{proyecto_data.titulo}}"  width="100%">
        </figure>
    </div>

<div class="modal" id="modal_afiche">
  <div class="modal-background"></div>
  <div class="modal-content">
      <figure id="afiche_generacion">
          <img src="{{ MEDIA_URL }}{{proyecto.afiche}}"
               alt="{{proyecto_data.titulo}}"  width="100%">
      </figure>
  </div>
  <button class="modal-close is-large" id="modal_close_modal_afiche" aria-label="close"></button>
</div>
{% endblock sidebar_left %}

{% block content_article %}
{% if user.is_authenticated %}
<div class="tile is-child box">
    <!-- Información del Proyecto -->
    <article class="{{proyecto_data.curso.slug_titulo}}">
        <section class="section">
            {% include 'inscripcion/info_proyecto.dj.html' %}
        </section>
        <section class="section">
            {% if not inscripciones or debug %}
            {% include 'inscripcion/form_inscripcion.dj.html' %}
            {% else %}
            <h4 class="title is-4">¡Tu inscripcion ya está registrada!</h4>
            <p> El status de tu inscripción es:</p>
            {% for inscripcion in inscripciones %}
            <p><b>{{inscripcion.status}}</b></p>
            {% endfor %}
            {% endif %}
        </section>
    </article>
</div>
{%else%}
<div class="tile is-child box">
    <div class="content has-text-centered">
        <h4 class="title is-4">Antes de inscribirte...</h4>
        <p>
            Debes registrarte para participar de la comunidad.</p>

        <p>Haz click en el botón</p>

        <a href="{% url 'accounts:signup' %}"
           class="button is-large is-link" type="button">Registrarse Primero</a>
    </div>
</div>
{% endif %}

{% endblock content_article %}


{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'inscripcion/css/inscripcion.css' %}">
<style>
 body {
     background-image: url({{background_image_curso}});
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
 }
</style>
<link rel="stylesheet"
      type="text/css"
      href="{% static 'css/captcha.css' %}">

{% endblock %}


<!-- Añadir JS extra en footer -->
{% block footer_javascript %}
<script>
 // load some special variables
 var show_organizacion_fields={{show_org_fields}}
 function active_modal(id_name){
     let element = document.getElementById(id_name);
     element.classList.add('is-active');
     let modal_close=document.getElementById("modal_close_"+id_name);
     modal_close.addEventListener("click", event=>{
         element.classList.remove("is-active");
     })

 }

 const fileInput = document.querySelector('#carta_apoyo_field input[type=file]');
 fileInput.onchange = () => {
     if (fileInput.files.length > 0) {
         const fileName = document.querySelector('#carta_apoyo_field .file-name');
         fileName.textContent = fileInput.files[0].name;
     }
 }


</script>
<script defer src="{% static 'inscripcion/js/inscripcion.js'%}"></script>

<script src="{% static 'js/captcha.js' %}">
</script>

{% endblock %}

