<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}
{% load widget_tweaks %}

{% block title %}
Inscripciones Activas |Curso de Programación para Organizaciones Comunitarias
{% endblock %}

{% block content_article %}
{% include 'home/componentes/inscripciones_activas.dj.html' %}
{% endblock content_article %}

{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'inscripcion/css/inscripcion_listar.css' %}">
{% endblock %}


<!-- Añadir JS extra en footer -->
{% block footer_javascript %}
<script>
</script>

<script defer src="{% static 'inscripcion/js/inscripcion_listar.js'%}"></script>
{% endblock %}
