{% extends 'inscripcion/base.dj.html' %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'inscripcion:application' %}">Por proyecto</a>
</li>
{% endblock breadcrumbs %}


{% block content_inscripcion %}
<div class="tile is-child">
    <h3 class="title is-3">
        Proyectos relevantes | {{choice}}
    </h3>
</div>
<div class="tile is-child">
    <table class="table is-hoverable is-fullwidth is-striped" id="group_list">
        <thead>
            <tr>
                <th>Afiche</th>
                <th>Tótem</th>
                <th>Curso</th>
                <th>Generación</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for project in object_list %}
            <tr>
                <!-- afiche (thumb) field -->
                <td><img src="{{project.afiche.url}}" width="60px" height="60px"
                         alt="Afiche curso"></td>
                <!-- afiche (thumb) field -->
                <td><img src="{{project.icono_totem.url}}" width="60px" height="auto"
                         alt="Icono toem"></td>
                <!-- curso field -->
                <td><a href="{{project.get_absolute_url}}">{{project.curso}}</a></td>
                <!-- generacion field -->
                <td>{{project.generacion}}</td>
                <!-- fecha inicio field -->
                <td>{{project.fecha_inicio}}</td>
                <!-- fecha final field -->
                <td>{{project.fecha_final}}</td>
                <!-- valores -->
                <td>
                    {% if perms.groups_manager.can_change_inscripcion %}
                    <a class="button is-info" href="{% url 'inscripcion:project_admin' project.slug %}">
                        Admnistrar Inscripciones</a>
                    {% else %}
                    Ver mi inscripción
                    {% endif %}


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'components/paginate.dj.html' %}
</div>
{% endblock %}
