<table class="table is-hoverable is-stripped is-fullwidth">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Username</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Fecha Inscripción</th>
            <th>Curso</th>
            <th>Proyecto</th>
            <th>Estatus</th>
            <th>Apoyo Org.</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for inscripcion in  object_list %}
        {% if inscripcion.usuario == user or perms.groups_manager.can_add_revisioninscripcion %}
        <tr class="{{inscripcion.css_status}}">
            <td>{{inscripcion.usuario.first_name}}</td>
            <td>{{inscripcion.usuario.username}}</td>
            <td>{{inscripcion.usuario.email}}</td>
            <td>{{inscripcion.usuario.phonenumber}}</td>
            <td>{{inscripcion.fecha_inscripcion}}</td>
            <td>{{inscripcion.proyecto.curso}}</td>
            <td>{{inscripcion.proyecto}}</td>
            <td>{{inscripcion.status}}</td>
            <td>{% if inscripcion.representa_organizacion %}Si{% else %}No{% endif %}</td>
            <td>
                {% if inscripcion.usuario %}
                {% if perms.groups_manager.can_change_inscripcion and perms.groups_manager.can_add_revisioninscripcion %}
                <a type="button"
                   class="button is-fullwidtd is-success"
                   href="{% url 'inscripcion:postulante' inscripcion.pk %}">
                    Revisar</a>
                {% else %}
                Ver
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table> 
<style>
 .color-on_review{
     background-color:rgba(200, 220, 100, 0.7);
 }
 .color-accepted{
     background-color:rgba(0, 200, 250, 0.7) ;
 }
 .color-rejected{
     background-color:rgba(220, 100, 60, 0.7);
 }
</style>
