{% extends 'proyecto/emails/base.dj.html' %}
{% load widget_tweaks %}

{% block breadcrumbs %}
{{block.super}}
<li class="is-active">
    <a href="{% url 'proyecto:emails_create' %}">Crear</a>
</li>
{% endblock breadcrumbs %}



{% block content_proyecto%}
<div class="tile is-child">
    <h3 class="title is-3">Crear Plantillas Email para Proyecto</h3>
</div>
{% if perms.groups_manager.can_add_emailtemplates %}
<div class="tile is-child">
    <form action="{{request.get_full_path}}"
          enctype="multipart/form-data"
          method="post"
          id="email_templates_form"
          class="django form">
        {% csrf_token %}

        {% include 'proyecto/emails/fields.dj.html' %}

        <div class="buttons are-medium columns">
            <div class="column">
                <button type="submit" class="button
                              is-primary is-fullwidth">Crear</button></div>
            <div class="column ">
                <a class="button is-warning is-fullwidth" href={% if group %}
                   "{% url 'proyecto:emails_detail' object.proyecto.slug_generacion %}"
                   {% else %}
                   "{% url 'proyecto:emails_list' %}"{% endif %}>
                    Cancelar</a></div>
        </div>

    </form>
</div>
{% endif %}
{% endblock content_proyecto %}
