{% load static %}
{% load widget_tweaks %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.13.2/jsoneditor.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.13.2/jsoneditor.min.css" type="text/css" media="all" rel="stylesheet">
<div class="columns">
    <div class="column is-two-thirds">
<div  class="field is-horizontal" id="field_proyecto">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.proyecto.id_for_label}}">
            {{form.proyecto.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            <div class="select">
                {% render_field form.proyecto class+="select"  value=form.proyecto.initial %}
            </div>
        </div>
        <span class="help is-invalid">{{ form.proyecto.errors }}</span>
    </div>
</div>


<div  class="field is-horizontal"  id="field_inscripcion_exitosa_usuario">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.inscripcion_exitosa_usuario.id_for_label}}">
            {{form.inscripcion_exitosa_usuario.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            {% render_field form.inscripcion_exitosa_usuario class+="textarea" type="textarea" %}
            <div class="button is-info" type="button" onclick="modal_email('inscripcion_exitosa_usuario')">
                <i class="fas fa-eye"></i>
                    Preview</div>
        </div>
        <span class="help is-invalid">{{ form.inscripcion_exitosa_usuario.errors }}</span>
    </div>
</div>

<div  class="field is-horizontal"  id="field_inscripcion_exitosa_admin">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.inscripcion_exitosa_admin.id_for_label}}">
            {{form.inscripcion_exitosa_admin.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            {% render_field form.inscripcion_exitosa_admin class+="textarea" type="textarea" %}
            <div class="button is-info"  onclick="modal_email('inscripcion_exitosa_admin')">
                <i class="fas fa-eye"></i>
                    Preview</div>
        </div>
            <span class="help is-invalid">{{ form.inscripcion_exitosa_admin.errors }}</span>
    </div>
</div>

<div  class="field is-horizontal"  id="field_inscripcion_rechazo">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.inscripcion_rechazo.id_for_label}}">
            {{form.inscripcion_rechazo.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            {% render_field form.inscripcion_rechazo class+="textarea" type="textarea" %}
            <div class="button is-info" onclick="modal_email('inscripcion_rechazo')">
                <i class="fas fa-eye"></i>
                    Preview</div>
        </div>
        <span class="help is-invalid">{{ form.inscripcion_rechazo.errors }}</span>
    </div>
</div>

<div  class="field is-horizontal"  id="field_inscripcion_acepta">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.inscripcion_acepta.id_for_label}}">
            {{form.inscripcion_acepta.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            {% render_field form.inscripcion_acepta class+="textarea" type="textarea" %}
            <div class="button is-info"   onclick="modal_email('inscripcion_acepta')">
                <i class="fas fa-eye"></i>Preview</div>
        </div>
        <span class="help is-invalid">{{ form.inscripcion_acepta.errors }}</span>
    </div>
</div>

<!--  inscripcion_result_admins -->
<div  class="field is-horizontal"  id="field_inscripcion_result_admins">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.inscripcion_result_admins.id_for_label}}">
            {{form.inscripcion_result_admins.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            {% render_field form.inscripcion_result_admins class+="textarea" type="textarea" %}
            <div class="button is-info" onclick="modal_email('inscripcion_result_admins')">
                <i class="fas fa-eye"></i>Preview</div>
        </div>
        <span class="help is-invalid">{{ form.inscripcion_result_admins.errors }}</span>
    </div>
</div>

<div  class="field is-horizontal"  id="field_parametros">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.parametros.id_for_label}}">
            {{form.parametros.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            {{form.parametros}}</div>
        <span class="help is-invalid">{{ form.parametros.errors }}</span>
    </div>
</div>
    </div>

    <div class="column">
        {{ADVICE|safe}}
    </div>
</div>
{% include 'proyecto/emails/modal.dj.html' %}

<script>
 let elem_modal_email = document.getElementById('modal_email');
 let close = document.getElementById("close_modal");
 close.addEventListener("click", event=>{
     elem_modal_email.classList.remove("is-active");
 });
 let close_up = document.getElementById("close_modal_up");
 close_up.addEventListener("click", event=>{
     elem_modal_email.classList.remove("is-active");
 });

 function modal_email(name){
     let textarea = document.getElementById("id_"+name);
     let value = textarea.value;
     let preview = document.getElementById("content_message_preview");
     preview.innerHTML = value;
     elem_modal_email.classList.add('is-active');
 }

</script>
