<div class="modal" id="modal_email">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="modal_title"></p>
            <button class="delete" aria-label="close" id="close_modal_up"></button>
        </header>
        <section class="modal-card-body">
            <div class="content" id="content_message_preview">
                
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info is-fullwidth is-rounded" id="close_modal">Cerrar</button>
        </footer>
    </div>
</div>
