<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html class="has-navbar-fixed-top"> 

    <!doctype html>
    <!--[if lt IE 7]>
        <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>
        <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!-->
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>{% block title %}{% endblock %}</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="shortcut icon"
                  href="{% static 'img/icon_danzarin.png' %}"
                  type="image/svg+xml" sizes="any">

            <!-- bloque llamada a estáticos principal -->
            {% block top_front_frameworks %}
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'css/principal.css' %}">
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'css/menu_nav.css' %}">
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'css/footer.css' %}">
            {% endblock %}


            <!-- Bloque para añadir css extras en header -->
            {% block head_css %}
            <!-- Bulma, rxjs, d3, openalayers personalization CSS -->
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'aprendizaje/dist/index.css' %}">

            {% endblock %}

            <!-- Bloque para añadir js extra en header-->
            {% block head_javascript %}
            <!-- Bulma, rxjs, d3, openalayers personalization JS -->
            <script defer
                    src="{% static 'aprendizaje/dist/index.js' %}"></script>
            

            <script defer
                    src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

            {% endblock %}

            {% block special_css %}

            {% endblock %}

        </head>

        <body>
            <div id="show_content">
                <!-- Ubicación de encabezado del contenido -->
            {% block header %}
            <header id="main_header"  class="section">
                {% include 'menu_nav.dj.html' %}
            </header>
            {% endblock header %}
            {% block hero_content %}

            {% endblock %}
            <main id="all_content
                      {% block main_tag_id %}
                      {% endblock main_tag_id %}"
                  class="container">

                <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul id="breadcrumlist">
                            {% block breadcrumbs %}
                            {% endblock breadcrumbs %}
                        </ul>
                    </nav>
                    </div>
                </div>
                </div>

                <div class="tile is-ancestor">
                    {% if menu %}
                    <div class="tile is-vertical is-3">
                        <div class="tile">
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    {% block sidebar_left %}
                                    {% endblock sidebar_left %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- fin menu -->
                    <div class="tile is-vertical {% if menu %}is-9{% endif %}">
                        <div class="tile">
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                {% block content_article %}
                                    {% endblock content_article %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  -->
                  {% block sidebar_right %}
                  {% endblock sidebar_right %}
                </div>
            </main>
            <section class="section"></section>
           </div>


            <!-- Elemento Inferior dentro de bloque body-->
           <footer class="footer has-background-primary">
               <!-- cargar el html de la zona de contacto -->
               <div class="container">
                <div class="columns">
                    <div class="column">
                        {% include 'contacto.dj.html' %}
                    </div>
                    <div class="column"></div>
                </div>
               </div>

               <!-- block to load framework -->
               {% block buttom_front_frameworks %}
               {% endblock %}

               <!-- Añadir CSS Extra en footer -->
                {% block footer_css %}
                {% endblock %}

                <!-- Añadir JS extra en footer -->
                {% block footer_javascript %}
                {% endblock %}
                <footer>

        </body>

    </html>
