{% load static %}
<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home:index' %}">
            <img src="{% static 'img/logo.svg' %}"
                 style="width:220px;height:auto;"/>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu"
           aria-expanded="false" data-target="navbar-menu-curso">
            {% for item in MENU_NAV %}
            <span aria-hidden="true"></span>
            {% endfor %}

        </a>
    </div>
    <div id="navbar-menu-curso" class="navbar-menu">
        <div class="navbar-start">
            {% for item in menu_nav %}
            {{item.html|safe}}
            {% endfor %}
    </div>
    <hr class="navbar-divider">
    <div class="navbar-end">
        <div class="navbar-item is-right">
            <div class="buttons">
            </div>
        </div>
    </div>
    </div>
    <hr class="navbar-divider">
    {% if not user.is_authenticated %}
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary"  href="{% url 'accounts:login' %}">
                    <strong>Ingresar</strong>
                </a>
                <a class="button is-light>"  href="{% url 'accounts:signup' %}">
                    <strong>Registrarse</strong>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                {% if user.is_superuser %}
                <a class="button is-link"  href="{% url 'admin:index' %}">
                    <strong>Administrar</strong>
                </a>
                {% endif %}
                <a class="button is-primary"  href="{% url 'accounts:profile_user' username=user.username %}">
                    <strong>Perfil</strong>
                </a>
                <a class="button is-danger"  href="{% url 'accounts:logout' %}">
                    <strong>Salir</strong>
                </a>

            </div>
        </div>
    </div>
    {% endif %}

 </nav>
