{% extends 'proyecto/base.dj.html' %}
{% load widget_tweaks %}

{% block content_proyecto%}
<div class="tile is-child">
    <h3 class="title is-3">Crear Proyecto</h3>
</div>
{% if perms.groups_manager.can_add_proyecto %}
<div class="tile is-child">
    <ul>
    {% for error, value in form.errors.items %}
        <li>Falla en campo <i>{{error}}:{{value}}</i></li>
    {% endfor %}
    </ul>

<form action="{{request.get_full_path}}"
      enctype="multipart/form-data"
      method="post"
      id="proyecto_form"
      class="django form">
    {% csrf_token %}

    {% include 'proyecto/proyecto/fields.dj.html' %}

    <div class="buttons are-medium columns">
        <div class="column">
            <button type="submit" class="button
                          is-primary is-fullwidth">Crear</button></div>
        <div class="column ">
            <a class="button is-warning is-fullwidth" href={% if group %}
               "{% url 'proyecto:project_detail' member.id %}"
               {% else %}
               "{% url 'proyecto:project_list' %}"{% endif %}>
                Cancelar</a></div>
    </div>

</form>
</div>
{% else %}
<h3 class="title is-3">Puedes proponer realizar una instancia de proyecto aquí:
    <a href="{% url 'contacto:formulario' %}">Contacto</a></h3>
{% endif %}
{% endblock content_proyecto %}
