{% load static %}
{% load widget_tweaks %}
<section class="section">
    <h4 class="title is-4">Fechas Importantes</h4>
    <div class="tile">
        <div class="tile is-child is-6 box has-text-centered">
            <h4 class="title is-4">Inscripción</h4>
            <div class="dates-realizacion">
                <input id="inscripcion_dates" type="date" data-display-mode="inline"
                       data-is-range="true" data-close-on-select="false">
            </div>
        </div>
        <div class="tile is-child is-6 box has-text-centered">
            <h4 class="title is-4">Realización</h4>
            <div class="dates-realizacion">
                <input id="clases_dates" type="date" data-display-mode="inline"
                       data-is-range="true" data-close-on-select="false">
            </div>
        </div>
    </div>
</section>

<!-- Curso  -->
<div class="tile">
    <div class="tile is-child box">
<div  class="field is-horizontal" id="field_curso">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.curso.id_for_label}}">
            {{form.curso.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            <div class="select">
                {% render_field form.curso class+="select" %}
            </div>
        </div>
        <span class="help is-invalid">{{ form.curso.errors }}</span>
    </div>
</div>

<!-- first name -->
<div  class="field is-horizontal"  id="field_generacion">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.generacion.id_for_label}}">
            {{form.generacion.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            {% render_field form.generacion class+="input" %}</div>
        <span class="help is-invalid">{{ form.generacion.errors }}</span>
    </div>
</div>

<!-- descripcion -->

<div  class="field"  id="field_resumen">
    <label class="label"
           for="{{form.resumen.id_for_label}}">
        {{form.resumen.label}}</label>
    <div class="control">
        {% render_field form.resumen class+="textarea" type="textarea" %}
        <span class="help is-invalid">{{ form.resumen.errors }}</span>
    </div>
</div>

<div  class="field is-horizontal"  id="field_descripcion">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.descripcion.id_for_label}}">
            {{form.descripcion.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            {% render_field form.descripcion class+="textarea" type="textarea" %}</div>
        <span class="help is-invalid">{{ form.descripcion.errors }}</span>
    </div>
</div>
    </div>
    <div class="tile is-child box">
<!-- valores -->
<div  class="field is-horizontal" id="field_valor">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.valor.id_for_label}}">
            {{form.valor.label}}(es)</label>
    </div>
    <div class="field-body">
        <div class="control">
            <div class="select is-multiple">
                {% render_field form.valor class+="multiple" size=4 %}
            </div>
        </div>
        <span class="help is-invalid">{{ form.valor.errors }}</span>
    </div>
</div>
</div>
</div>

<!-- imagenes totemm,icono y afiche -->
<section class="section">
    <h4 class="title is-4">Imágenes</h4>
    <div class="tile">
        <div class="tile is-parent">
            <div class="tile is-child is-6 box">
                <div class="field is-horizontal" id="field_imagen_totem">
                    <div class="file has-name is-left is-boxed is-success">
                        <label class="file-label">
                            <input class="file-input" type="file"
                                   name="imagen_totem" value="{{object.imagen_totem}}">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label" >
                                    Tótem…
                                </span>
                            </span>
                            <span class="file-name" id="imagen_totem_name">
                                {%if object.imagen_totem%}
                                {{object.imagen_totem.name}}
                                {%else%}
                                totem.png
                                {% endif %}
                            </span>
                        </label>
                    </div>
                    <figure class="thumb_imagen main">
                        <img src="{%if object.imagen_totem%}
                                  {{object.imagen_totem.url}}
                                  {%else%}
                                  {% static "img/sin_imagen.svg" %}
                             {% endif %}" width="150px"
                             height="auto" alt="sin imagen" id="imagen_totem_show">
                        {% with img_id="imagen_totem_show" modal_id="imagen_totem_show_modal" %}
                        {% if object.imagen_totem %}
                        {% with imagen=object.imagen_totem.url imagen_w=500 imagen_h="auto" alt="afiche" %}
                        {% include 'components/modal_image.dj.html' %}
                        {% endwith %}
                        {%else%}
                        {% with imagen="/static/img/sin_imagen.svg" imagen_w=500 imagen_h="auto" alt="sin imagen" %}
                        {% include 'components/modal_image.dj.html' %}
                        {% endwith %}
                        {% endif %}
                        {% endwith %}
                    </figure>
                </div>
                <span class="help is-invalid">{{ form.imagen_totem.errors }}</span>
            </div>
            <!-- imagenes totemm,icono y afiche -->
            <div class="tile is-child is-6 box">
                <div class="field is-horizontal" id="field_icono_totem">
                    <div class="file has-name is-left is-boxed is-success">
                        <label class="file-label">
                            <input class="file-input" type="file"
                                   name="icono_totem"
                            value="{{object.icono_totem}}">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Icono de tótem…
                                </span>
                            </span>
                            <span class="file-name" id="icono_totem_name">
                                {%if object.icono_totem%}
                                {{object.icono_totem.name}}
                                {%else%}
                                totem.png
                                {% endif %}
                            </span>
                        </label>
                    </div>
                    <figure  class="thumb_imagen main">
                        <img src="{%if object.icono_totem%}
                                  {{object.icono_totem.url}}
                                  {%else%}
                                  {% static "img/sin_imagen.svg" %}{% endif %}"
                             width="150px"
                             height="auto" alt="sin imagen" id="icono_totem_show">
                        {% with img_id="icono_totem_show"   modal_id="icono_totem_show_modal" %}
                        {% if object.icono_totem %}
                        {% with imagen=object.icono_totem.url imagen_w=500 imagen_h="auto" alt="afiche" %}
                        {% include 'components/modal_image.dj.html' %}
                        {% endwith %}
                        {%else%}
                        {% with imagen="/static/img/sin_imagen.svg" imagen_w=500 imagen_h="auto" alt="sin imagen" %}
                        {% include 'components/modal_image.dj.html' %}
                        {% endwith %}
                        {% endif %}
                        {% endwith %}
                    </figure>
                </div>
            </div>
            <span class="help is-invalid">{{ form.icono_totem.errors }}</span>
        </div>
    </div>
    <div class="tile">
        <div class="tile is-parent">
            <div class="tile is-child is-6 box">
                <div class="field is-horizontal" id="field_afiche">
                    <div class="file has-name is-left is-boxed is-warning">
                        <label class="file-label">
                            <input class="file-input" type="file" name="afiche"
                                   value="{{object.afiche}}">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Afiche…
                                </span>
                            </span>
                            <span class="file-name"  id="afiche_name">
                                {%if object.afiche%}
                                {{object.afiche.name}}
                                {%else%}
                                totem.png
                                imagen_fondo.png
                                {% endif %}
                            </span>
                        </label>
                    </div>
                    <figure  class="thumb_imagen main">
                        <img src="{% if object.afiche %}
                                  {{object.afiche.url}}
                                  {%else%}
                                  {% static "img/sin_imagen.svg" %}
                             {% endif %}" width="150px"
                             height="auto" alt="sin imagen" id="afiche_show">
                        {% with img_id="afiche_show" modal_id="afiche_show_modal" %}
                        {% if object.afiche %}
                        {% with imagen=object.afiche.url imagen_w=500 imagen_h="auto" alt="afiche" %}
                        {% include 'components/modal_image.dj.html' %}
                        {% endwith %}
                        {%else%}
                        {% with imagen="/static/img/sin_imagen.svg" imagen_w=500 imagen_h="auto" alt="sin imagen" %}
                        {% include 'components/modal_image.dj.html' %}
                        {% endwith %}
                        {% endif %}
                        {% endwith %}
                    </figure>
                </div>
                <span class="help is-invalid">{{ form.afiche.errors }}</span>
            </div>
            <div class="column is-child is-6 box">
                <div class="field is-horizontal" id="field_imagen_fondo">
                    <div class="file has-name is-left is-boxed is-warning is-fullwidth">
                        <label class="file-label">
                            <input class="file-input" type="file"
                                   name="imagen_fondo"
                            value="{{object.imagen_fondo}}">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Imagen de fondo…
                                </span>
                            </span>
                            <span class="file-name" id="imagen_fondo_name">
                                {%if object.imagen_fondo%}
                                {{object.imagen_fondo.name}}
                                {%else%}
                                imagen_fondo.png
                                {% endif %}
                            </span>
                        </label>
                    </div>
                    <figure class="thumb_imagen main">
                        <img src="{%if object.imagen_fondo%}
                                  {{object.imagen_fondo.url}}
                                  {%else%}
                                  {% static "img/sin_imagen.svg" %}
                             {% endif %}" width="150px"
                             height="auto" alt="sin imagen" id="imagen_fondo_show">
                        {% with img_id="imagen_fondo_show" modal_id="imagen_fondo_show_modal" %}
                        {% if object.imagen_fondo %}
                        {% with imagen=object.imagen_fondo.url imagen_w=500 imagen_h="auto" alt="afiche" %}
                        {% include 'components/modal_image.dj.html' %}
                        {% endwith %}
                        {%else%}
                        {% with imagen="/static/img/sin_imagen.svg" imagen_w=500 imagen_h="auto" alt="sin imagen" %}
                        {% include 'components/modal_image.dj.html' %}
                        {% endwith %}
                        {% endif %}
                        {% endwith %}
                    </figure>
                </div>
                <span class="help is-invalid">{{ form.imagen_fondo.errors }}</span>
            </div>

        </div>
    </div>
</section>


<div class="is-hidden">
    {% for hidden in form.hidden_fields %}
    {{hidden}}
    {% endfor %}
</div>



<style>
 .thumb_imagen{
     margin-left:5px;
     -webkit-box-shadow: 0 4px 6px -3px #222;
     -moz-box-shadow: 0 4px 6px -3px #222;
     box-shadow: 0 4px 6px -3px #222;
 }

</style>

{% block footer_javascript %}
<script>
 let select_date={% if select_date %}false{%else%}true{% endif %};
 let opts_ins = {color:'info', type:"date", read_only:select_date}
 let inscripciones = {...opts_ins}
 let opts_curso = {color:'alert', type:"date", read_only:select_date}
 let curso = {...opts_curso}
 {% if object.fecha_inscripcion_inicio %}
 const startDateInscripcion = "{{object.fecha_inscripcion_inicio|date:'m/d/Y'}}";
 inscripciones["startDate"]=new Date(startDateInscripcion);
 var date_elem = document.getElementById("fecha_inscripcion_inicio")
 date_elem.value =  inscripciones["startDate"].toLocaleDateString("es-ES");
 {% endif %}
 {% if object.fecha_inscripcion_final %}
 const endDateInscripcion = "{{object.fecha_inscripcion_final|date:'m/d/Y'}}";
 inscripciones["endDate"]=new Date(endDateInscripcion);
 var date_elem = document.getElementById("fecha_inscripcion_final")
 date_elem.value =  inscripciones["endDate"].toLocaleDateString("es-ES");
 {% endif %}
 {% if object.fecha_inicio %}
 const startDateCurso = "{{object.fecha_inicio|date:'m/d/Y'}}";
 curso["startDate"]=new Date(startDateCurso);
 var date_elem = document.getElementById("fecha_inicio")
 date_elem.value =  curso["startDate"].toLocaleDateString("es-ES");
 {% endif %}
 {% if object.fecha_final %}
 const endDateCurso = "{{object.fecha_final|date:'m/d/Y'}}";
 curso["endDate"]=new Date(endDateCurso);
 var date_elem = document.getElementById("fecha_final")
 date_elem.value =  curso["endDate"].toLocaleDateString("es-ES");
 {% endif %}

 window.addEventListener("DOMContentLoaded", function(event) {
     activate_calendar("inscripcion_dates",
                       ["fecha_inscripcion_inicio",
                        "fecha_inscripcion_final"],
                       inscripciones)
     activate_calendar("clases_dates",["fecha_inicio","fecha_final"],
                       curso)

     /*activa modal de imagenes*/
     var figures=document.querySelectorAll("figure.thumb_imagen.main");
     figures.forEach(figure=>{
         figure.addEventListener("click", event => {
             let element_id=event.target.id;
             let modal_id=element_id+"_modal";
             let modal_el = document.getElementById(modal_id);
             if(modal_el){
                 modal_el.classList.add("is-active");
             }
         })
     });
     const fileInputs = document.querySelectorAll('.file-input');
     fileInputs.forEach(fileInput=>{
         let name = fileInput.name;
         let element_id = name+"_show" ;
         fileInput.onchange = () => {
             if (fileInput.files.length > 0) {
                 const fileName = document.querySelector("#"+name+"_name");
                 fileName.textContent = fileInput.files[0].name;
                 show_thumb_image(fileInput, element_id)
             }
         }
     }
     )



     console.log("Proyecto crear OK:")

 });


</script>
{% endblock %}
