<div class="sticky">
<h5 class="title is-5">
    {{object.curso}}</h5>
<aside class="menu">
    {% for app, group in show_menu.items %}
    <div class="menu {% if app == app_active %}is-active{% endif%} is-success">
        <p class="menu-label">
            {{app}}
        </p>
        <ul class="menu-list">
            {% for elem in group %}
            <li>{{elem.html|safe}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</aside>
</div>
