{% extends 'proyecto/base.dj.html' %}
{% load static %}

{% block title %}
{{block.super}}|{{object.curso.nombre}}
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{{object.curso.get_absolute_url}}">{{object.curso}}</a>
</li>
<li class="is-active">
    <a href="{{object.get_absolute_url}}" aria-current="page">{{object}}</a>
</li>
{% endblock breadcrumbs %}


{% block sidebar_left %}
    <div class="tile is-child box sticky">
        {% include "./menu_show.dj.html" %}
    </div>
{% endblock sidebar_left %}

{% block content_article %}
<div id="show_project" class="tile is-ancestor">
    <div class="tile is-parent box is-vertical ">
        <!-- curso imagen -->
        <div class="tile is-child" id="sobre_curso">
        <figure class="content has-text-centered">
            <img src="{{object.curso.imagen.url}}" width="60%">
        </figure>
        <!-- curso nombre -->
        <h3 class="title is-3 has-text-centered">{{object.curso.nombre}}</h3>
        <!-- curso descripcion -->
        <div class="content">
            {{object.curso.descripcion|safe}}
        </div>
        </div>
        <!-- fechas tiling: dos elementos: inscripcion y de curso -->
        <div class="tile is-parent" id="fechas_importantes">
            <div class="tile is-child is-6 box">
                <h3 class="title is-3">Inscripción</h3>
                <input id="inscripcion_dates"
                       type="date"
                       data-display-mode="inline"
                       data-is-range="true"
                       data-close-on-select="false">
            </div>
            <div class="tile is-child is-6 box">
                <h3 class="title is-3">Curso</h3>
                <input id="clases_dates"
                       type="date"
                       data-display-mode="inline"
                       data-is-range="true"
                       data-close-on-select="false">
            </div>            
        </div>
        <div class="tile is-parent is-vertical" id="generacion">
            <div class="tile is-child box">
                        <figure>
                            <img src="{{proyecto.icono_totem.url}}"
                                 class="icono_medium">
                        </figure>
            </div>
            <div class="tile is-child box">
                        <h5 class="title is-5">{{proyecto}}</h5>
                        <div class="content">
                            {{proyecto.descripcion|safe}}
                        </div>
            </div>
        </div>
        <div class="tile is-parent" id="localizacion">
            
        </div>
        <div class="tile is-parent" id="sesiones">
            
        </div>
        <div class="tile is-parent" id="valores">
            <div class="tile is-child box has-text-centered">
                <h3 class="title is-3">Valores de Inscripción</h3>
                <section id="valores" class="content is-centered table-container">
                    <table class="table is-hoverable is-stripped is-hoverable">
                        <thead>
                            <th>Participante</th>
                            <th>Valor en CLP$</th>
                            <th>Valor en USD$</th>            
                        </thead>
                        <tbody>
                            {% for valor in proyecto.valor.all %}
                            <tr>
                                <td>{{valor.asignacion}}</td>
                                <td>{{valor.precio}}</td>
                                <td>{{valor.usd}}</td>
                            </tr>
                            {% endfor 0%}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <div class="tile is-parent" id="a_formulario">
            <!-- imagen link a inscripción -->
            <div class="tile is-child box">
	          <a  class="button is-rounded link is-large is-link is-active
                       is-fullwidth"
                title="Inscribirse"
                href="{% if inscribirse %}
                       {% url 'inscripcion:persona' object.curso.slug_nombre object.slug_generacion %}
                       {% endif%}">
                {% if inscribirse %}
                Inscribirse en el curso, {{object}}
                {% else %}
                Inscripcion fuera de plazo
                {% endif %}</a>
            </div>
        </div>
    </div>
</div>


{% endblock content_article %}


{% block footer_css %}
<style>
 #show_content{
     background-image:url("{{object.imagen_fondo.url}}");
     background-size:cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }
 .icono_medium{
     width:250px;

 }
</style>
{% endblock %}


{% block footer_javascript %}
{{block.super}}
<script>
 let opts_ins = {color:'info', type:"date", read_only:true}
 let inscripciones = {...opts_ins}
 let opts_curso = {color:'alert', type:"date", read_only:true}
 let curso = {...opts_curso}
 {% if object.fecha_inscripcion_inicio %}
 const startDateInscripcion = "{{object.fecha_inscripcion_inicio|date:'m/d/Y'}}";
 inscripciones["startDate"]=new Date(startDateInscripcion);
 {% endif %}
 {% if object.fecha_inscripcion_final %}
 const endDateInscripcion = "{{object.fecha_inscripcion_final|date:'m/d/Y'}}";
 inscripciones["endDate"]=new Date(endDateInscripcion);
 {% endif %}
 {% if object.fecha_inicio %}
 const startDateCurso = "{{object.fecha_inicio|date:'m/d/Y'}}";
 curso["startDate"]=new Date(startDateCurso);
 {% endif %}
 {% if object.fecha_final %}
 const endDateCurso = "{{object.fecha_final|date:'m/d/Y'}}";
 curso["endDate"]=new Date(endDateCurso);
 {% endif %}
 window.addEventListener("DOMContentLoaded", function(event) {
     activate_calendar("inscripcion_dates",
                       ["fecha_inscripcion_inicio",
                        "fecha_inscripcion_final"],
                       inscripciones)
     activate_calendar("clases_dates",["fecha_inicio","fecha_final"],
                       curso)

     /*activa modal de imagenes*/
     var figures=document.querySelectorAll("figure.thumb_imagen.main");
     figures.forEach(figure=>{
         figure.addEventListener("click", event => {
             let element_id=event.target.id;
             let modal_id=element_id+"_modal";
             let modal_el = document.getElementById(modal_id);
             if(modal_el){
                 modal_el.classList.add("is-active");
             }
         })
     });
 });
</script>
{% endblock %}
