{% load inlinecss %}
{% inlinecss "contenido/css/email.css" %}
<html>
    <body>
        <article>
            <h1>Recuerda que las clases del {{curso}} son a las {{hora}}, día {{fecha}}.</h1>
            <p>En esta ocasión la clase tiene por nombre
                <b>{{sesion.titulo}}</b> y se trata de:</p>
            <p><i>{{sesion.resumen}}</i></p>
            <p>Partimos a las: {{hora_inicio}}, realizando un ejercicio de la
                clase anterior, guiada por {{ejercicio.guia}}.</p>
            <p>La clase será guiada por {{clase.guia}}</p>
            <p>Asiste a la clase:</p>
            <ul>
                {% for modo in modos %}
                {% if modo=='online' %}
                <li>{{modo}}: <a href="{{sesion.url_online}}">Enlace Clase</a></li>
                {% elif mode=='presencial' %}
                <li>{{modo}}: {{sesion.lugar}}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <p>{{mensaje}}
        </article>
    </body>
</html>
{% endinlinecss %}
