{% load i18n %}
{% spaceless %}
<div class="level">
    <div class="level-left">
    {% if audio %}
        <a title="{% trans "Play CAPTCHA as audio file" %}" href="{{ audio }}">
    {% endif %}
    <img src="{{ image }}" alt="captcha" class="captcha" />
    {% if audio %}</a>{% endif %}
    </div>
    <div class="level-right">
        <button type="button" class="button"></button>
    </div>
</div>
{% endspaceless %}
{% include "django/forms/widgets/multiwidget.html" %}
