{% extends 'proyecto/base.dj.html' %}
 
{% block content_article%}
<section class="columns">
    <!-- Proyectos -->
    <div class="column">
        Proyectos
    </div>
    <!-- Cursos -->
    <div class="column">
        Cursos
    </div>
    <!-- Clasificación -->
    <div class="column">
        Clasificacion
    </div>
    <!-- Valores -->
    <div class="column">
        Valores
    </div>
</section>
{% endblock %}
