{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

{% block title %}
Proyectos | {{SITE_NAME}}
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'proyecto:application' %}">Proyecto</a>
</li>
{% endblock breadcrumbs %}


{% block sidebar_left %}
  <aside class="sticky">
      {% include 'proyecto/main_menu.dj.html' %}
  </aside>
{% endblock sidebar_left %}

{% block content_article %}
    {% block content_proyecto %}
    {% endblock%}
{% endblock%}
