<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}
{% load widget_tweaks %}

{% block title %}
Inscripciones Activas | {{site_name}}
{% endblock %}

{% block content_article %}
<article id="inscribir-proyectos">
    <section id="inscripciones_activas columns is-1">
        {% for item in proyectos.inscripcion_activa %}
        <div class="column">
            {% include "proyecto/tarjeta.dj.html" with item=item %}
        </div>
        {% endfor %}
    </section>
    <section id="cursos_en_proceso columns is-1">
        {% for item in proyectos.proceso %}
        <div class="column">
            {% include "proyecto/tarjeta.dj.html"  with item=item %}
        </div>
        {% endfor %}
    </section>
    <section id="cursos_realizado columns is-1">
        {% for item in proyectos.realizados %}
        <div class="column">
            {% include "proyecto/tarjeta.dj.html"  with item=item %}
        </div>
        {% endfor %}
</section>
</article>
{% endblock content_article %}

{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'proyecto/css/listar.css' %}">
{% endblock %}


<!-- Añadir JS extra en footer -->
{% block footer_javascript %}
<script>
</script>

<script defer src="{% static 'proyecto/js/listar.js'%}"></script>
{% endblock %}
