<figure class="image">
    <img class="is-rounded" src="{{proyecto.curso.imagen.url}}" alt="{{proyecto.curso}}">
</figure>
<div id="name-curso-proyecto">
    <a href="{% url 'contenido:curso_main' curso=proyecto.curso.slug generacion=proyecto.slug %}">
        {{proyecto.curso}}|{{proyecto}}</a>
</div>
