{% extends 'proyecto/base.dj.html' %}


{% block content_proyecto%}
<div class="tile is-ancestor">
    <div class="tile is-parent box">
        {% if cursos %}
        <div class="tile is-child is-3">
            <h4 class="title is-4">Estudiante</h4>
            <ul>
                {% for curso in cursos %}
                <li>
                    {% include 'proyecto/mini_proyecto.dj.html' with proyecto=curso %}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if administrar %}
        <div class="tile is-child is-3">
            <h4 class="title is-4">Profesor, Ayudante o Responsable</h4>
            <ul>
                {% for curso in administrar %}
                <li>
                    {% include 'proyecto/mini_proyecto.dj.html' with proyecto=curso %}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}

{% block footer_css %}
{% endblock %}
{% block footer_javascript %}
{% endblock %}
