
<div class="card">
    <section class="card-image">
        <!-- image head -->
        <figure class="image is4by3">
            <img src="{{MEDIA_URL}}{{item.afiche}}" alt="Afiche de
                      {{item.generacion}}">
        </figure>
    </section>
    <section class="card-content">
        <!-- media title -->
        <div class="media">
            <!-- figura icono -->
            <div class=""></div>
            <!-- titulo -->
            <div class="media-content titulos-card">
              <h4 class="title is-4">
                  {{item.curso.nombre}}</h4>
              <h6 class="title is-6">Generación: {{item.generacion}}</h6>
            </div>
            <div class="media-right">
                 {% include 'components/compartir.dj.html' %}
            </div>

        </div>
        <!-- Media content -->
        <div class="content">
            {{item.descripcion|safe|truncatechars_html:250}}
        </div>


        <div class="columns">
            <a class="button is-info is-medium is-fullwidth" href="{{item.ver_mas_url}}">{{item.ver_mas}}</a>
        </div>
    </section>
</div>
