{% extends 'base.dj.html' %}
{% load static %}

{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'proyecto/css/estilos.css' %}">

    {% endblock %}

    {% block title %}
    {{proyecto.curso.nombre}}-{{proyecto.generacion}} |Curso de Programación para Organizaciones Comunitarias
    {% endblock %}

    <!--Contenido -->
    {% block content_article %}

    <article>
    <h2>Este curso</h2>
    <section id="descripcion_curso">
        {{proyecto.curso.descripcion|safe}}
    </section>
    <h2>Generación: {{proyecto.generacion}}</h2>
    <section id="descripcion_generacion">
        {{proyecto.descripcion|safe}}
    </section>

    <h3>Fechas Importantes</h3>
    <section id="fechas-inscripcion">
        <p>Inscripciones hasta <b>{{proyecto.fecha_inscripcion_final}}</b></p>
    </section>
    <section id="fechas-curso">
        <p>Fecha Inicio :: <b>{{proyecto.fecha_inicio}}</b></p>
        <p>Fecha Final :: <b>{{proyecto.fecha_final}}</b></p>
    </section>

    </article>

{% endblock content_article %}


<!-- Añadir JS extra en footer -->
{% block footer_javascript %}

{% endblock %}
