{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

{% block title %}
Contenido | {{SITE_NAME}}
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'contenido:application' %}">Contenido</a>
</li>
{% endblock breadcrumbs %}


{% block sidebar_left %}
<aside class="sticky">
    {% include 'contenido/main_menu.dj.html' %}
</aside>
{% endblock sidebar_left %}

{% block content_article %}
{% block content_contenido %}
{% endblock%}
{% endblock%}


