<!-- sesion, tipo, video_url, resumen, documento, date_time, date_time_updated,-->
<!-- guia -->

<div class="content">
    <!-- variable: contenido -->
    {% for contenido in contenidos.all %}
    {% if contenido %}
    <div class="tile box">
        <div class="tile is-6">
            <p>Creado en {{contenido.date_time}}</p>
        </div>
        <div class="tile is-6">
            <p>Última actualización {{contenido.date_time_updated}}</p>
        </div>
    </div>
    <div class="video">
        <div id="player_{{tipo}}">
        </div>
        <div class="is-hidden">
            {% if contenido.torrent %}
            <input id="magnet_link_{{tipo}}"
                   value="{{MEDIA_URL}}{{contenido.torrent.url}}">
            {% endif %}
        </div>
        <div class="download">
            <a href="{{contenido.video_url}}">Video Torrent</a>
        </div>
    </div>
    <p>{{contenido.resumen|safe}}</p>
    <div>{% if contenido.documento %}
        <a href="{{contenido.documento.url}}">Descargar</a>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div> 

