{% extends 'contenido/base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

{% block breadcrumbs %}
{{block.super}}
<li class="{% if bread == "general" %}is-active{% endif %}">
    <a href="{% url 'contenido:curso_main' curso=curso.slug generacion=proyecto.slug %}">{{curso}}|{{proyecto}}</a>
</li>
{% endblock breadcrumbs %}


{% block content_contenido %}
<!-- menu y bloque de contenidos -->
<!-- menu debe tener: info, ultima sesion, descargas, ademas ADMIN si se es-->
<!-- admin de grupo -->
<!-- bloque de contenidos info de curso -->
<!-- abajo lista de sesiones -->
<div class="tile is-parent">
    <!-- info del curso -->
    <!-- object es: ContenidosCurso -->
    <!-- tiene 1:1 con proyecto -->
    <div class="tile is-child box">
        <h3 class="title is-3">
            {{object.proyecto.curso}}|{{object.proyecto}}
        </h3>
        <div class="tile">
            <!-- imagen -->
            <div class="tile is-child is-4">
                <figure>
                <img id="imagen_curso"
                     src="{{object.proyecto.curso.imagen.url}}">
                </figure>
            </div>
            <!-- resumen -->
            <div class="tile is-child">
                {{object.proyecto.curso.descripcion|truncatewords_html:100|safe}}
            </div>
        </div>

    </div>


</div>
<div class="tile is-parent is-vertical">
    <!-- lista de sesiones -->
    <div class="tile is-child box">
        <h4 class="title is-4">Sesiones</h4>
        <table class="table  is-hoverable is-stripped  is-fullwidth">
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>Título</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Acción</th>
                </tr>

            </thead>
            <tbody>
        {% for sesion in object.sesiones.all %}
                <tr>
                    <td>{{sesion.posicion}}</td>
                    <td>{{sesion.titulo}}</td>
                    <td>{{sesion.fecha}}</td>
                    <td>{{sesion.hora}}</td>
                    <td>
                        <a href="{% if curso and proyecto %}
{% url 'contenido:sesion_main' curso=curso.slug generacion=proyecto.slug posicion=sesion.posicion %}
                                 {% endif%}">
                            Ver</a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
    </table>
    </div>
</div>
{% endblock%}


{% block footer_css %}
<style>
 #imagen_curso{
     width:300px;
     height:200px;
 }


</style>
{% endblock %}
