{% load static %}
{% load widget_tweaks %}
<form action="{{request.get_full_path}}"
      method="post"
      class="form"
      id="search_form">
    {% csrf_token %}
    <div  class="field has-addons" id="field_busqueda">
            <div class="control is-expanded">
                {% render_field form.busqueda class+="input" %}
                <span class="help is-invalid">{{ form.busqueda.errors }}</span>
            </div>
    <div class="control">
        <button type="submit" class="button
                      is-primary is-fullwidth">Buscar</button>
    </div>
    </div>
</form>
