{% extends 'proyecto/base.dj.html' %}

{% block content_article%}
<!-- mostrar valor y proyectos-curso que tienen ese valor -->
<div class="columns">
    <div class="column">
        <h4 class="title is-4 has-text-centered">Para {{object.asignacion}}</h4>
        <p>CLP ${{object.precio}}</p>
    </div>    
    <div class="column">
        <h4 class="title is-4 has-text-centered">Proyectos con este valor</h4>        
        <ul>
            {% for project in object.projects.all %}
            <li>
                <a href="{{project.get_absolute_url}}" alt="project.slug_generacion">{{project}}</a>
            </li>
            {% endfor %}
        </ul>


    </div>
</div>
{% endblock content_article %}
