{% load static %}
{% load widget_tweaks %}

<!-- first name -->
<div  class="field is-horizontal"  id="field_precio">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.precio.id_for_label}}">
            {{form.precio.label}}</label> Pesos chilenos
    </div>
    <div class="field-body">
        <div class="control">
            {% render_field form.precio class+="input" %}</div>
        <span class="help is-invalid">{{ form.precio.errors }}</span>
    </div>
</div>

<!-- first name -->
<div  class="field is-horizontal"  id="field_asignacion">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.asignacion.id_for_label}}">
            {{form.asignacion.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            {% render_field form.asignacion class+="input" %}</div>
        <span class="help is-invalid">{{ form.asignacion.errors }}</span>
    </div>
</div>
