
<select name="{{ field.name }}"{% include
        "django/forms/widgets/attrs.html" with widget={{field}} %}>
    {% for group_name, group_choices, group_index in field.optgroups %}
    {% if group_name %}
    <optgroup label="{{ group_name }}">
    {% endif %}
        {% for option in group_choices %}
        {% include option.template_name with widget=option %}
        {% endfor %}
    {% if group_name %}
    </optgroup>
    {% endif %}
    {% endfor %}
</select>
