<!-- Extender base -->
{% extends 'accounts/base_profile.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}
{% load thumbnail %}

<!-- css para detail protocol -->
{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block content_profile %}
<!-- show profile info -->
<!-- imagen, nombres, email, teléfono, cursos (inscritos, aprobados, rechazaods)-->
<form class="tile is-vertical box">
    {% csrf_token %}
        <div class="tile is-parent">
        <div class="tile is-child is-6">
            <h4 class="title is-4 has-text-centered">Imagen de Perfil</h4>
            <div class="tile is-child" >
                <div class="field">
                    <figure id="profile_image"  class="thumb_imagen profile has-text-centered">
                        {% thumbnail object.profile.profile_image.image "160x160" as im %}
                        <img src="{{ im.url }}" width="{{im.width}}"
                             height="{{im.height}}"
                             style="margin:{{im|margin:"200x200" }}"
                             id="img_perfil">
                        {% endthumbnail %}
                        {% include 'components/modal_image_select.dj.html' with param="image" image=object.profile.profile_image  %}
                </figure>
                </div>
                <button type="button" class="button is-info is-fullwidth"
                        onclick="update_image('image')">
                    Actualizar</button>
            </div>
        </div>
        <div class="tile is-child is-6">
            <h4 class="title is-4">Biografía</h4>
            <div class="field">
                <textarea type="textarea"
                          class="textarea"
                          id="bio_text"
                          row=15
                          name="bio"
                          readonly>{{object.profile.bio}}</textarea>
            </div>
            <div class="edit-bar">{% include 'components/edit_field.dj.html'  with row_id="bio_text"%}</div>
        </div>
        </div>
        <div class="tile is-child box">
            <h4 class="title is-4">Información de Usuario</h4>
            <table class="table is-hoverable is-stripped">
                <thead>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Nombre de usuario</td>
                        <td><input class="input" type="input"
                                   id="input_username" name="username"
                                   value="{{object.username}}" readonly></td>
                        <td class="edit-bar">{% include 'components/edit_field.dj.html' with row_id="input_username" %}</td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td><input class="input" type="input" id="input_nombre" name="first_name"
                                   value="{{object.profile.first_name}}" readonly></td>
                        <td class="edit-bar">{% include 'components/edit_field.dj.html' with row_id="input_nombre" %}</td>
                    </tr>
                    <tr>
                        <td>Apellido Paterno</td>
                        <td><input class="input" type="input"
                                   id="input_apellido" name="father_last_name"
                                   value="{{object.profile.father_last_name}}" readonly></td>
                        <td class="edit-bar">{% include 'components/edit_field.dj.html' with row_id="input_apellido" %}</td>
                    </tr>
                    <tr>
                        <td>Apellido Materno</td>
                        <td><input class="input" type="input"
                                   id="input_apellido_materno" name="mother_last_name"
                                          value="{{object.profile.mother_last_name}}" readonly></td>
                        <td class="edit-bar">{% include 'components/edit_field.dj.html'  with row_id="input_apellido_materno"%}</td>
                    </tr>
                    <tr>
                        <td>
                            Correo Electrónico
                        </td>
                        <td><input class="input" type="input" id="email" name="email"
                                   value="{{object.email}}" readonly></td>
                        <td class="edit-bar">{% include 'components/edit_field.dj.html' with row_id="email"%}</td>
                    </tr>
                    <tr>
                        <td>Teléfono</td>
                        <td>
                            <input
                                class="input"
                                type="input"
                                id="phonenumber"
                                name="phonenumber"
                                value="{{object.profile.phonenumber}}" readonly></td>
                        <td class="edit-bar">{% include 'components/edit_field.dj.html'  with row_id="phonenumber"%}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</form>
{% endblock content_profile %}

{% block footer_css %}
<style>
 #profile_image{
     height:200px;
 }
</style>
{% endblock %}

{% block footer_javascript %}
{{block.super}}
<script defer src="{% static 'js/update_field.js' %}"></script>
<script>
 let username="{{user.username}}";
 let update_url="{% url 'accounts:profile_update_field' user.username %}";
 
 function enable(row_id){
     row_id.readOnly=false;
 };
 function save_field(row_id){
     update_field(username, [row_id], update_url); 
 };
 function disable(row_id){
     row_id.readOnly=true;
 };

 function close_modal(modal_id){
     let modal=document.getElementById(modal_id);
     modal.classList.remove("is-active");
 }

 function update_image(modal_id){
     let modal=document.getElementById("modal_"+modal_id);
     modal.classList.add("is-active");
     let modal_close=document.getElementById("modal_close_"+modal_id);
     modal_close.addEventListener("click", event=>{
         modal.classList.remove("is-active");
     })
 }

 function callback_image(data_json){
     console.log("On callback", data_json);
     let im = document.getElementById("img_perfil");
     im.setAttribute('src',data_json.image.url);

 }

         function save_image_profile(button){
             let tag = document.getElementById("tag_image");
             let file_profile = document.getElementById("image_file");
             let tag_name = tag.name;
             let image=file_profile.files[0];
             let fields = {"tag":tag, "image":file_profile};
             let is_file = true;
             update_field(username, fields, update_url,is_file, callback_image);
         }


         // en file_input muestra al cambio
         const fileInputs = document.querySelectorAll('.file-input');
         fileInputs.forEach(fileInput=>{
             let name = fileInput.name;
             let element_id = name+"_show" ;
             fileInput.onchange = () => {
                 if (fileInput.files.length > 0) {
                     const fileName = document.querySelector("#"+name+"_name");
                     fileName.textContent = fileInput.files[0].name;
                     show_thumb_image(fileInput, element_id)
                 }
             }
         }
         )

</script>
{% endblock %}


