<button onclick="enable({{row_id}})" class="button is-info" type="button" title="edit">
    <i class="fa fa-edit"></i>
</button>
<button onclick="save_field({{row_id}})" class="button is-warning" type="button"
    title="save">
    <i class="fa fa-save"></i> 
</button>
<button onclick="disable({{row_id}})" class="button is-danger" type="button"
        title="disable edit">
    <i class="fa fa-window-close"></i>
</button>
