{% load static %}
<!-- vars: {modal_id, imagen, imagen_w, imagen_h, imagen_alt} -->
<div class="modal" id="{{modal_id}}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <img id="{{img_id}}_x_img" src="{{imagen}}" width="{{imagen_w}}"
         height="{{imagen_h}}" alt="{{imagen_alt}}">
  </div>
  <button type="button" id="{{modal_id}}_close" class="modal-close is-large"
          aria-label="close">
      <span class="icon is-medium">
      <i class="fas fa-close fa-2x"></i>
  </span>
  </button>
</div>
<script>
 window.addEventListener("DOMContentLoaded", function(event) {
     modal_thumb("{{modal_id}}");
 })
</script>
