{% if object_list.has_other_pages %}
<nav class="pagination is-centered is-rounded" role="navigation"
     aria-label="pagination">
    {% if object_list.has_previous %}
    <a class="pagination-previous">Anterior</a>
    {% else %}
    <a><span>&laquo;</span></a>
    {% endif %}
    {% if object_list.has_next %}
    <a class="pagination-next">Próxima</a>
    {% else %}
    <a><span>&raquo;</span></a>
    {% endif %}
    <ul class="pagination-list">
        {% for i in object_list.paginator.page_range %}
        {% if object_list.number == i %}
        <li><a class="pagination-link is-current" aria-label="Page {{i}}" aria-current="page">{{i}}</a></li>
        {% else %}
        <li><a class="pagination-link" aria-label="Goto page {{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
