{% extends 'base.dj.html' %}
{% load static %}
{% block title %}{{SITE_NAME}} | Inicio{% endblock %}

{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'home:index' %}">Home</a>
</li>
{% endblock breadcrumbs %}


{% block content_article %}
{% block search%}
{% endblock search %}
<!-- buscador de cursos -->
{% block index_content %}
{% endblock %}
{% endblock content_article %}
