{% extends 'base.dj.html' %}
{% load static %}

{% block title %}Proyecto | Zonas de Sacrificio{% endblock %}


{% block title_article %}
El Proyecto del Curso de Programación para Organizaciones Comunitarias
{% endblock title_article %}


{% block content_article %}

Este curso es una iniciativa <strong>autogestionada </strong>que tiene como finalidad entregar las herramientas necesarias básicas para desarrollar tecnologías que son requeridas por las organizaciones y el mundo social en general..

Considera<strong> tres ciclos encadenados de manera secuencial</strong>, por lo tanto, quienes participen del primer curso tendrán una mayor posibilidad de acceder al siguiente curso. Los temas a considerar son:
<ol>
 	<li>Administración, gestión y programación de scripts</li>
 	<li>Lenguaje de Programación Python, dominando la serpiente</li>
 	<li>Desarrollo web con Framework Django</li>
</ol>
Cada ciclo consta de unas 16 sesiones cuyos contenidos permitirán a los estudiantes dominar las bases de cada área estudiada, de manera que tenga las herramientas necesarias para poder trabajar, investigar y desarrollar con ellas.

El curso, sus tres ciclos y sesiones estará disponible en la<a href="https://gitlab.com/pineiden/curso_programacion"><strong> dirección Gitlab</strong></a> del curso. En ella es posible acceder  a los contenidos, ejemplos y ejercicios de cada sesión.

Quienes impartirán las clases son David Pineda (@pineiden)  y Daniel Méndez (@crepu). Quienes tendrán el agrado de compartir sus conocimiento para formar un área de tecnologías en el mundo social.

Asimismo, apoyan la iniciativa la Red de Cultura Viva Comunitaria, la Comunidad de Software Libre y Cultura Libre y la Escuela Cooperativa de Permacultura, que facilitan el espacio.

El financiamiento, al ser autogestionado será para colaborar en el pago de los recursos utiliziados del espacio: internet, electricidad, etc.

El valor de cada ciclo por persona es variable según el cálculo realizado para
subsanar los costos mínimos.

Son 20 cupos y se evaluarán las postulaciones en el <a href="https://docs.google.com/forms/d/e/1FAIpQLSeXssJzOdzXdV9hisJh6_HlAtjoXj52IoOzxai9Nb_JDNRckA/viewform">formulario.  </a> Una semana antes de comenzar el dinero debe ser depositado en la cuenta de la Escuela Cooperativa de Permacultura.

Serán dos sesiones semanales y requerirán de:
<ul>
 	<li>Compromiso de la persona que participe</li>
 	<li>1 computador por persona</li>
 	<li>Pago de matrícula previa a comenzar</li>
</ul>
 

{% endblock %}
