<h1>Activación para {{site_name}}</h1>

<section>
    <p>Hola {{ user.username }},</p>

    <p>Por favor, haz click en el siguiente enlace para confirmar registro:
    </p>
    <section>
        <a href=https://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %} >Activar Usuario</a>

    </section>

