{% extends "accounts/base_login.dj.html" %}

{% block content_accounts %}
<section class="section">
    <h1 class="title">¡Reset de password exitosa!</h1>
    <p>Revisa tu bandeja de correo y haz click en el enlace del mensaje</p>
</section>
{% endblock content_accounts %}
