<p>El/la usuario {{user}} ha realizado la solicitud para cambiar password a {{ email }}.</p>

<p>Sigue el siguiente link:</p>
<ul>
<li>{{ protocol}}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</li>
</ul>

<p>Atentamente. Equipo de {{SITE_NAME}}</p>
