{% extends "groups_manager/bulma/group_member_role.html" %}


{% block content_groups_manager %}

<h2 class="title is-2">
    <i class="fa fa-groups-manager-group-entity"></i> Group Member Roles
</h2>

<table class="table table is-striped is-hoverable is-fullwidth"
       id="group_member_role_list">
    <thead>
        <tr>
            <th>Label</th>
            <th class="has-text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for group_member_role in object_list %}
        <tr>
            <td>
                <a href="{% url 'groups_manager:group_member_role_detail' group_member_role.id %}">
                    {{ group_member_role.label }}
                </a>
            </td>
            <td class="has-text-right">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_groupmemberrole %}
                <a href="{% url 'groups_manager:group_member_role_edit' group_member_role.id %}" class="btn btn-sm btn-default">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_groupmemberrole %}
                <a href="{% url 'groups_manager:group_member_role_delete' group_member_role.id %}" class="btn btn-sm btn-default">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content_groups_manager %}
