{% extends "groups_manager/bulma/group_entity.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    {% if group_entity %}
    <a href="{% url 'groups_manager:group_entity_edit' group_entity.id %}">Edit</a>
    {% else %}
    <a href="{% url 'groups_manager:group_entity_add' %}">Add</a>
    {% endif %}
</li>
{% endblock breadcrumbs %}


{% block content_groups_manager %}

<h2 class="title is-2">
    <i class="fa fa-groups-manager-group-entity"></i>
    {% if group_entity %}
    Edit "{{ group_entity }}"
    {% else %}
    Create Group Entity
    {% endif %}
</h2>


<form action="." method="post" id="group_entity_form" class="django form-horizontal">
    {% csrf_token %}

    {% include "groups_manager/bulma/group_entity_form_template.html" %}

    <div class="columns">
        <div class="column">
            <button type="submit" class="button is-primary is-fullwidth">Submit</button>
        </div>
        <div class="column"> 
            <a class="button is-warning is-fullwidth"
               href={% if group %}"{% url 'groups_manager:group_entity_detail' group.id %}"
               {% else %}
               "{% url 'groups_manager:group_entity_list' %}"{% endif %}>Cancel</a>
        </div>
    </div>
</form>

{% endblock content_groups_manager %}
