{% extends "groups_manager/bulma/group_type.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'groups_manager:group_type_detail' group_type.id %}">{{ group_type }}</a>
</li>
{% endblock breadcrumbs %}


{% block menu_groups_manager %}

{{ block.super }}

<p class="menu-label">Manage Member</p>
<ul class="menu-list">
    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.can_change_grouptype %}
    <li>
        <a href="{% url 'groups_manager:group_type_edit' group_type.id %}">
            <i class="fa fa-edit"></i>
            Edit group type
        </a>
    </li>
    {% endif %}

    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.can_delete_grouptype %}
    <li>
        <a href="{% url 'groups_manager:group_type_delete' group_type.id %}">
            <i class="fa fa-times"></i>
            Delete group type
        </a>
    </li>
    {% endif %}
</ul>

{% endblock menu_groups_manager %}

{% block content_groups_manager %}


<h2 class="title is-2">
    <i class="fa fa-groups-manager-group-type"></i> {{ group_type }}
</h2>

<div class="container">

    <div class="columns">
        <div class="column">
            <h3 class="title is-3">Details</h3>
            <table class="table is-striped is-hoverable is-fullwidth">
                <tr>
                    <th>Label</th>
                    <td>{{ group_type.label }}</td>
                </tr>
                <tr>
                    <th>Codename</th>
                    <td>{{ group_type.codename }}</td>
                </tr>
            </table>
        </div>
        <div class="column">
            <h3 class="title is-3">Groups</h3>
            {% with group_type_groups=group_type.groups.all %}
            {% if group_type_groups %}
            <table class="table is-striped is-hoverable is-fullwidth">
                <tr>
                    <td>Group</td>
                </tr>
                {% for group in group_type_groups %}
                <tr>
                    <td>
                        <a href="{% url 'group_managers:group_detail' group.id %}">
                            {{ group.name }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div class="bs-callout bs-callout-info">
                <p>This group type is not related to any group.</p>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% endblock content_groups_manager %}
