{% extends "groups_manager/bulma/group_entity.html" %}


{% block content_groups_manager %}

<h2 class="title is-2">
    <i class="fa fa-groups-manager-group-entity"></i> Group Entities
</h2>

<table class="table is-striped is-hoverable is-fullwidth" id="group_entity_list">
    <thead>
        <tr>
            <th>Label</th>
            <th class="has-text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for group_entity in object_list %}
        <tr>
            <td>
                <a href="{% url 'groups_manager:group_entity_detail' group_entity.id %}">
                    {{ group_entity.label }}
                </a>
            </td>
            <td class="has-text-right">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_groupentity %}
                <a href="{% url 'groups_manager:group_entity_edit' group_entity.id %}" class="btn btn-sm btn-default">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_groupentity %}
                <a href="{% url 'groups_manager:group_entity_delete' group_entity.id %}" class="btn btn-sm btn-default">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content_groups_manager %}
