{% extends "groups_manager/bulma/group_entity.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'groups_manager:group_entity_delete' group_entity.id %}">Delete</a>
</li>
{% endblock breadcrumbs %}


{% block content_groups_manager %}

<h2 class="title is-2">
    <i class="fa fa-groups-manager-group-type"></i> Delete group entity
</h2>

<div class="container">
    <h3 class="title is-3">{{ group_entity }}</h3>
    <p>Are you sure you want to delete this group entity?</p>
    <form action="{% url 'groups_manager:group_entity_delete' group_entity.id %}" method="post">
        {% csrf_token %}
        <div class="buttons are-medium columns">
            <div class="column">
                <input type="submit" class="button is-danger is-fullwidth" value="Delete" />
            </div>
            <div class="column">
                <a href="{% url 'groups_manager:group_entity_detail' group_entity.id %}" class="button
                         is-warning  is-fullwidth">Back to details</a></div>
        </div>
    </form>
</div>

{% endblock content_groups_manager %}
