{% extends "groups_manager/bulma/groups_manager.html" %}


{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'groups_manager:group_list' %}">Groups</a>
    </li>
    {% endblock breadcrumbs %}


    {% block menu_groups_manager %}

    {{ block.super }}
<p class="menu-label">Groups Actions</p>
<ul class="menu-list">
    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.add_group %}
    <li>
        <a href="{% url 'groups_manager:group_add' %}">
            <i class="fa fa-plus"></i> Add group
        </a>
    </li>
    {% endif %}
</ul>

{% endblock menu_groups_manager %}
