{% extends "groups_manager/bulma/groups_manager.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'groups_manager:group_entity_list' %}">Group Entities</a>
</li>
{% endblock breadcrumbs %}


{% block menu_groups_manager %}

{{ block.super }}
<p class="menu-label">Manage Group Entities</p>
<ul class="menu-list">
    <li>
        <a href="{% url 'groups_manager:group_entity_list' %}">
            <i class="fa fa-list"></i> List group entities
        </a>
    </li>
    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.add_groupentity %}
    <li>
        <a href="{% url 'groups_manager:group_entity_add' %}">
            <i class="fa fa-plus"></i> Add group entity
        </a>
    </li>
    {% endif %}
</ul>
{% endblock menu_groups_manager %}
