img{
    width:100%;
}
p {
    font-size:18px;
}

strong {
    font-size:20px;
}

ul{
    font-size:18px;
    margin:10px;
    
}

table, th, td, tfoot{
    font-size:18px;
    margin:5px;
    border: 2px solid black;
}

#dates-table{
    margin:10px;
}

.sticky{
    position: sticky;
    top: 120px;
}

.login-button{
    margin:5px
}
