<p>En esta 'Generación Suri' nos enfocaremos en desarrollar una metodología que nos permita compartir los conocimientos de manera virtual, utilizando las herramientas libres disponibles.</p>

<p>Serán 22 (veinte y dos) sesiones desde el 15 de octubre hasta el 30 de
    diciembre del año 2020.</p>

<p>Comprendemos las herramientas esenciales (grep, sed, awk y las regex) como la
    <b>trifuerza del POSIX</b>, ya que entregan todo el poder de programar con
    elementos muy sencillos</p>

<p>Las sesiones serán</p>:

<ol>
    <li><b>15/10/2020</b> ¿Cómo funciona un computador?</li>
    <li><b>20/10/2020</b> Navegar en  archivos y directorios</li>
    <li><b>22/10/2020</b> Creación y modificación de archivos y directorios</li>
    <li><b>26/10/2020</b> Búsquedas sencillas con *grep*</li>
    <li><b>29/10/2020</b> Edición de textos sencillos con *sed*</li>
    <li><b>3/11/2020</b> Introducción a patrones de texto</li>
    <li><b>5/11/2020</b> Patrones de texto y expresiones regulares</li>
    <li><b>10/11/2020</b> Introducción a cadenas de texto</li>
    <li><b>12/11/2020</b> Manipulación de cadenas de texto</li>
    <li><b>12/11/2020</b> Manipulación de textos en forma de fecha y tiempo</li>
    <li><b>16/11/2020</b> Descargar videos y otros contenidos de la web</li>
    <li><b>19/11/2020</b> Awk: lenguaje de programación para procesar textos I</li>
    <li><b>23/11/2020</b> Awk: lenguaje de programación para procesar textos II</li>
    <li><b>26/11/2020</b> Awk: lenguaje de programación para procesar textos III</li>
    <li><b>30/11/2020</b> Awk: lenguaje de programación para procesar textos IV</li>
    <li><b>3/11/2020</b> Awk: lenguaje de programación para procesar textos V</li>
    <li><b>7/11/2020</b> Crear scripts en bash</li>
    <li><b>10/11/2020</b> Crear script avanzados en bash</li>
    <li><b>14/11/2020</b> Crear scripts en bash con argumentos/opciones</li>
    <li><b>17/11/2020</b> Graficar con GNU Plot I</li>
    <li><b>21/11/2020</b> Graficar con GNU Plot II</li>
    <li><b>28/11/2020</b> Uso de teminales remotas con SSH</li>
    <li><b>30/11/2020</b> Introducción a control de versiones con GIT</li>
    <li></li>
</ol>



