.hide_msg{
    display:none;
}

.show_msg{
    display:block;
    background-color: coral;
    text-align: center;
    border-style: solid;
    font-size: 20px;
    height: 50px;
    width:80%;
    margin-bottom:5px;
    margin-top:5px;
}
img {
    width: 80%;
}

article{
    background-color: white;
    padding:20px;
}

#sendButton {
    width: 100%;
    background-color: #887799;
}

.field_inscripcion{
    width: 100%;
}

label.input-custom-file{
    background-color: #887799;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.demo-card-wide {
    width: 100%;
}

.mdl-card__title {
    background-color: #887799;
    color: white;
    height: 108px;
}

label.input-custom-file input[type=file] {
    display: none;
}

.sendButton {
    background: #887799 !important;
    width: 100%;
}

.mdl-button {
    background: #887799;
    color: #fff;
}
