@charset "utf-8";

@import "../node_modules/bulma/bulma";
@import "~bulma-extensions/bulma-accordion/src/sass/index.sass";
@import "~bulma-extensions/bulma-calendar/src/sass/index.sass";
@import "~bulma-extensions/bulma-carousel/src/sass/index.sass";
@import "~bulma-extensions/bulma-switch/src/sass/index.sass";

/*
For thumb images, a square borderer with shadow
*/
.thumb_imagen{
    margin-left:5px;
    margin-right:5px;
    -webkit-box-shadow: 0 4px 6px -3px #222;
    -moz-box-shadow: 0 4px 6px -3px #222;
    box-shadow: 0 4px 6px -3px #222;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 30;
}

/*
Home presentation for proyect-courses
*/
.afiche{
    width:120px;
}
.generation-data{
    display:inline-block;
    height:100%;
}
.icono{
    width:20px;
    vertical-align: middle;
}

.img_carousel{
    width: 380px;
}


.texto-carrusel{
    display:flex;
    align-items: center;
    font-family: "Impact";
    font-size: 22px;
    margin:30px;

}
