{% extends 'proyecto/delete_base.dj.html' %}
{% load widget_tweaks %}

{% block form_delete%}
<h2 class="title is-2">
    <i class="fa fa-groups-manager-group"></i> Borrar 'Curso'
</h2>

<div class="bs-callout bs-callout-danger">
    <h3 class="title is-3">{{ object }}</h3>
    <p>¿Estás segur@ que deseas borrar este curso?</p>
    <p>Todas las relaciones de esta instancia serás borradas también..</p>
    <form action="{{request.get_full_path}}" method="post">
        {% csrf_token %}
        <div class="buttons are-medium columns">
            <div class="column">
                <input type="submit" class="button is-danger is-fullwidth" value="Borrar" />
            </div>
            <div class="column">
                <a href="{% url 'proyecto:course_detail' object.slug_nombre %}" class="button
                         is-warning  is-fullwidth">Volver a detalles</a></div>
        </div>
    </form>
</div>
{% endblock form_delete %}
