{% extends 'proyecto/base.dj.html' %}
{% load widget_tweaks %}

{% block content_article%}
{% if perms.groups_manager.can_add_curso %}
<form action="{{request.get_full_path|safe}}" enctype="multipart/form-data" method="post" id="member_form" class="django form">
    {% csrf_token %}

    {% include 'proyecto/curso/fields.dj.html' %}

    <div class="buttons are-medium columns">
        <div class="column">
            <button type="submit" class="button
                          is-primary is-fullwidth">Crear</button></div>
        <div class="column ">
            <a class="button is-warning is-fullwidth" href={% if group %}
               "{% url 'proyecto:project_detail' object.slug_nombre %}"
               {% else %}
               "{% url 'proyecto:project_list' %}"{% endif %}>
                Cancelar</a></div>
    </div>
</form>
{% else %}
<h3 class="title is-3">Puedes proponer un curso aquí:
    <a href="{% url 'contacto:formulario' %}">Contacto</a></h3>
{% endif %}
{% endblock content_article %}
