{% extends 'proyecto/base.dj.html' %}

{% block content_proyecto%}
<div class="tile is-child box">
    <div class="title">
        {{object.nombre}}
    </div>
</div>
<div class="tile is-child has-text-centered">
    <figure>
        <img src="{{object.imagen.url}}" width="400px">
    </figure>
</div>
<div class="tile is-child box">
    {{object.descripcion|safe}}    
</div>
<div class="tile is-child box">
    <!-- Fecha y creado por -->
    Última modificación por <b>{{object.usuario.profile}}</b> en <b>{{object.date_time}}</b>    
</div>
<div class="tile is-child box">
    <h3 class="title is-3"> Grupo: {{object.group}}</h3>
    <div class="tile is-parent">
        <div class="tile is-child">
    <ul>
        <li><b>Tipo:</b> {{object.group.group_type}}</li>
        <li><b>Grupo Django</b> {{object.group.django_group}}            
        </li>
    </ul>
        </div>
        <div class="tile is-child">
            <!--PERMISSIONS_HERE-->
            {% if perms.groups_manager.can_add_groupmember %}
            <p>
                {% if object.group %}
                <a href="{% url 'admin_group:member2group_course' object.group.id %}">
                    <i class="fa fa-plus"></i>
                    Agregar miembro a grupo
                </a>
                {% endif %}
            </p>
            {% endif %}
        </div>
    </div>
    <h3 class="title is-5"> Miembros de Grupo</h3>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Username</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for member in object.group.get_members %}
            <tr>
                <td>{{member.username}}</td>
                <td>{{member.django_user.profile}}</td>
                <td>{{member.django_user.email}}</td>
                <td>
                    {% for group_member in member.group_membership.all %}
                    {% if group_member.group.parent == object.group %}
                    <p>{{group_member.group}}
                    {%endif%}
                    {% endfor %}
                </td>
                <td class="has-text-right">
                    <!--PERMISSIONS_HERE-->
                    {% if perms.groups_manager.can_change_groupmember %}
                    <a href="{% url 'admin_group:edit_member2group_course' member.id  object.group.id %}" class="button is-warning">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% endif %}
                    {% if perms.groups_manager.can_delete_groupmember %}
                    <a href="{% url 'admin_group:remove_member' member.id 'curso' object.group.id %}" class="button is-danger">
                        <i class="fa fa-times"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
</div>
{% endblock %}
