{% load static %}
{% load widget_tweaks %}
<div class="section">
    <div class="columns">
        <div class="column is-one-third">
            <div  class="field" id="field_clasificacion">
                    <label class="label"
                           for="{{form.clasificacion.id_for_label}}">
                        {{form.clasificacion.label}}</label>
                    <div class="control is-expanded">
                        <div class="select is-multiple">
                            {% render_field form.clasificacion class+="multiple" size=4 %}
                        </div>
                    </div>
                    <span class="help is-invalid">{{ form.clasificacion.errors }}</span>
            </div>
        </div>
        <div class="column">
    <div class="field is-centered" id="field_imagen">
    <div class="file is-centered is-boxed is-success has-name">
        <label class="file-label">
            <input class="file-input" type="file" name="imagen">
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label" >
                    Imagen de Curso
                </span>
            </span>
            <span class="file-name" id="imagen_name">
                curso_imagen.png
            </span>
        </label>
        <figure class="thumb_imagen main" width="150px">
            <img src="{%if object.imagen %}
                      {{object.imagen.url}}
                      {%else%}
                      {% static "img/sin_imagen.svg" %}
                 {% endif %}"
                 width="150px"
                 height="auto" alt="sin imagen" id="imagen_show">
            {% with img_id="imagen_show" modal_id="imagen_show_modal" %}
            {% if object.imagen %}
            {% with imagen=object.imagen.url imagen_w=500 imagen_h="auto" alt="afiche" %}
            {% include 'components/modal_image.dj.html' %}
            {% endwith %}
            {%else%}
            {% with imagen="/static/img/sin_imagen.svg" imagen_w=500 imagen_h="auto" alt="sin imagen" %}
            {% include 'components/modal_image.dj.html' %}
            {% endwith %}
            {% endif %}
            {% endwith %}
        </figure>
    </div>
    <span class="help is-invalid has-danger-text">{{ form.imagen.errors }}</span>
    </div>
        </div>
    </div>
<!-- image-->

<!-- Curso  -->
<div  class="field" id="field_nombre">

        <label class="label"
               for="{{form.nombre.id_for_label}}">
            {{form.nombre.label}}</label>

        <div class="control is-expanded">
             {% render_field form.nombre class+="input" %}
        </div>
        <span class="help is-invalid">{{ form.nombre.errors }}</span>

</div>
<!-- imagenes totemm,icono y afiche -->

<!-- descripcion -->
<div  class="field"  id="field_resumen">
    <label class="label"
           for="{{form.resumen.id_for_label}}">
        {{form.resumen.label}}</label>
    <div class="control">
        {% render_field form.resumen class+="textarea" type="textarea" %}
        <span class="help is-invalid">{{ form.resumen.errors }}</span>
    </div>
</div>

<div  class="field"  id="field_descripcion">
        <label class="label"
               for="{{form.descripcion.id_for_label}}">
            {{form.descripcion.label}}</label>
        <div class="control">
            {% render_field form.descripcion class+="textarea" type="textarea" %}
            <span class="help is-invalid">{{ form.descripcion.errors }}</span>
        </div>
</div>

<div class="is-hidden">
    {% for hidden in form.hidden_fields %}
    {{hidden}}
    {% endfor %}
</div>


<script>


 /*
    js for retrieve files
  */
 window.addEventListener("DOMContentLoaded", function(event) {
     let element_id = "imagen_show";
     const fileInputs = document.querySelectorAll('.file-input');
     fileInputs.forEach(fileInput=>{
         fileInput.onchange = () => {
             if (fileInput.files.length > 0) {
                 let name = fileInput.name;
                 const fileName = document.querySelector("#"+name+"_name");
                 fileName.textContent = fileInput.files[0].name;
                 show_thumb_image(fileInput, element_id)
             }
         }
     }
     )
     var figures=document.querySelectorAll("figure.thumb_imagen.main");
     figures.forEach(figure=>{
         figure.addEventListener("click", event => {
             let element_id=event.target.id;
             let modal_id=element_id+"_modal";
             let modal_el = document.getElementById(modal_id);
             if(modal_el){
                 modal_el.classList.add("is-active");
             }
         })
     });
 });

</script>
