<!-- App Principal equipos -->
<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

{% block title %}
Grupos de Administración | {{SITE_NAME}}
{% endblock %}

{% block sidebar_left %}
{% include 'admin_group/menu.dj.html' %}
{% endblock sidebar_left %}

{% block content_article%}
<div class="tile is-parent">
    <div class="tile is-child box">
        {% block content_groups_manager %}

        {% endblock content_groups_manager%}
    </div>
</div>
{% endblock %}
