{% extends "groups_manager/bulma/group.html" %}
{% load widget_tweaks %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'admin_group:remove_member' member.id tipo group.id %}">Remove Member</a>
</li>
{% endblock breadcrumbs %}


{% block content_groups_manager %}
<h3 class="title is-3">
    Remover al participante "{{member}}", alias "{{member.username}}" del grupo "{{tipo}}" {{group}}
</h3>
<form action="{{request.get_full_path|safe}}" enctype="multipart/form-data" method="post" id="member_form" class="django form">
    {% csrf_token %}
    <div class="is-hidden">
    {% for hidden in form.hidden_fields %}
    {{hidden}}
    {% endfor %}
</div>
<div  class="field"  id="field_reason">
        <label class="label"
               for="{{form.reason.id_for_label}}">
            {{form.reason.label}}</label>
        <div class="control">
            {% render_field form.reason class+="textarea" type="textarea" %}
            <span class="help is-invalid">{{ form.reason.errors }}</span>
        </div>
</div>
<label class="checkbox">
  <input type="checkbox" name="promesa">
  Me responsabilizo de esta decisión
</label>
    <div class="buttons are-medium columns">
        <div class="column">
            <button type="submit" class="button
                          is-primary is-fullwidth">Remover</button></div>
        <div class="column ">
            <a class="button is-warning is-fullwidth" href={% if group.curso %}
               "{% url 'proyecto:course_detail' group.curso.slug %}"
               {% else %}
               "{% url 'proyecto:course_list' %}"{% endif %}>
                Cancelar</a></div>
    </div>
</form>
{% endblock %}
