{% extends 'proyecto/delete_base.dj.html' %}
{% block form_delete%}
<h2 class="title is-2">
    <i class="fa fa-groups-manager-group"></i> Borrar Clasificación
</h2>

<div class="bs-callout bs-callout-danger">
    <div class="section">
    <h3 class="title is-3">-> {{ object }} <-</h3>
    <p>¿Estás segur@ de querer borrar esta Clasificación?</p>
    <p>Todas las relaciones se borrarán también.</p>
    </div>
    <form action="{% url 'proyecto:clasification_delete' object.slug_tipo %}" method="post">
        {% csrf_token %}
        <div class="buttons are-medium columns">
            <div class="column">
                <input type="submit" class="button is-danger is-fullwidth" value="Delete" />
            </div>
            <div class="column">
                <a href="{% url 'proyecto:clasification_detail' object.slug_tipo %}" class="button
                         is-warning  is-fullwidth">Volver a los detalles</a></div>
        </div>
    </form>
</div>

{% endblock %}

