{% extends 'proyecto/base.dj.html' %}
{% load widget_tweaks %}

{% block content_article%}
{% if perms.groups_manager.can_add_clasificacion %}
<form action="{{request.get_full_path}}" method="post" id="member_form" class="django form">
    {% csrf_token %}

    {% include 'proyecto/clasificacion/fields.dj.html' %}

    <div class="buttons are-medium columns">
        <div class="column">
            <button type="submit" class="button
                          is-primary is-fullwidth">Crear</button></div>
        <div class="column ">
            <a class="button is-warning is-fullwidth" href={% if object %}
               "{% url 'proyecto:clasification_detail' member.id %}"
               {% else %}
               "{% url 'proyecto:clasification_list' %}"{% endif %}>
                Cancelar</a></div>
    </div>

</form>
{% endif %}
{% endblock content_article %}
