{% load static %}
{% load widget_tweaks %}

<!-- first name -->
<div  class="field is-horizontal"  id="field_tipo">
    <div class="field-label is-normal">
    <label class="label"
           for="{{form.tipo.id_for_label}}">
        {{form.tipo.label}}</label>
    </div>
    <div class="field-body">
    <div class="control">
        {% render_field form.tipo class+="input" %}</div>
    <span class="help is-invalid">{{ form.tipo.errors }}</span>
    </div>
</div>

<!-- first name -->
<div  class="field is-horizontal"  id="field_descripcion">
    <div class="field-label is-normal">
    <label class="label"
           for="{{form.descripcion.id_for_label}}">
        {{form.descripcion.label}}</label>
    </div>
    <div class="field-body">
    <div class="control">
        {% render_field form.descripcion class+="textarea" type="textarea" %}</div>
    <span class="help is-invalid">{{ form.descripcion.errors }}</span>
    </div>
</div>

