{% load inlinecss %}
{% inlinecss "inscripcion/css/email.css" %}
<html>
    <body>
        <article>
            <h1>Nos han escrito mediante el formulario de contacto</h1>
            <ul>
                {% for key, value in data_persona.items %}
                <li>{{key}} -> {{value}}</li>
                {% endfor %}
            </ul>
        </article>
    </body>
</html>
{% endinlinecss %}
