{% load static %}

<!-- El objeto se llamará: pagina -->
<h3>{{pagina.titulo}}</h3>
<figure>
    <img class="list_pagina_img" src="{% static '{{pagina.imagen}}' %}">
</figure>
<section>
    {{pagina.resumen}}
</section>
<section>
    <a src="{% url 'pagina' pagina.slug_titulo %}">Ver Página</a>
</section>
